data
VSR
Visual_Speech_Recognition_for_Multiple_Languages/models/LRS2/model.json
Visual_Speech_Recognition_for_Multiple_Languages/models/LRS2/model.pth
Visual_Speech_Recognition_for_Multiple_Languages/language_models/LRS2/model.json
Visual_Speech_Recognition_for_Multiple_Languages/language_models/LRS2/model.pth
Visual_Speech_Recognition_for_Multiple_Languages/face_alignment
Visual_Speech_Recognition_for_Multiple_Languages/face_detection