data
cropped_videos

LipReading/Visual_Speech_Recognition_for_Multiple_Languages/models
LipReading/Visual_Speech_Recognition_for_Multiple_Languages/language_models

LipReading/Visual_Speech_Recognition_for_Multiple_Languages/face_alignment
LipReading/Visual_Speech_Recognition_for_Multiple_Languages/face_detection

final_output.mp4